<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jinshan.dao.StMapper">
    <!--存储商汤推送的事件信息-->
    <insert id="save" parameterType="map">
        insert into JINSHANXYZ."stgjmessage"
<!--        <trim prefix="(" suffix=")" suffixOverrides=",">-->
<!--            id,-->
<!--            images, districtID,-->
<!--            discoverTime, location,-->
<!--            videos, caseDesc,-->
<!--            deviceID, deviceName,-->
<!--            dataSource, caseType,-->
<!--            unit, appid,-->
<!--            pk, updatetime,-->
<!--        </trim>-->
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            #{id}, #{images}, #{districtID}, #{discoverTime},
            #{location}, #{videos}, #{caseDesc}, #{deviceID},
            #{deviceName}, #{dataSource}, #{caseType},
            #{unit}, #{appid}, #{pk}, #{updatetime},
        </trim>
    </insert>
</mapper>